{% extends "SVEleveBundle::mainframe.html.twig" %}

{% block title %} {{ parent() }} - Notes {% endblock %}

{% block css %}
    {{ parent() }}
    <style>
        .mark_link{
            color: #FF4081;
        }
    </style>
{% endblock %}

{% block body %}
    {% block title_section %}
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--7-col">
                <span class="mdl-typography--font-light mdl-typography--display-2">Détails Note</span>
            </div>
            <div class="mdl-cell mdl-cell--5-col">
                <a href="{{ path('sv_eleve_mark', {'slug': enfant.slug}) }}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                    Retour listes des évaluations
                </a>
            </div>

            <div class="mdl-cell mdl-cell--12-col">
                <span class="mdl-typography--font-light mdl-typography--headline">{{ devoir.detail }}</span>
            </div>

            <div class="mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                <hr>
                <p>
                    <span class="mdl-typography--font-light mdl-typography--body-1">Date de l'évaluation :</span>
                    <span class="mdl-typography--font-regular mdl-typography--body-1">{{ devoir.dateRemiseNotes | date("F jS Y") }}</span>
                </p>
                <p>
                    <span class="mdl-typography--font-light mdl-typography--body-1">Date remise des notes :</span>
                    <span class="mdl-typography--font-regular mdl-typography--body-1">{{ devoir.dateDevoir | date("F jS Y") }}</span>
                </p>
            </div>
        </div>
    {% endblock %}


    {% if notes is defined %}
        <div class="mdl-grid mdl-color--white">
            <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--3-col-tablet mdl-cell--1-col-phone mdl-typography--font-regular mdl-typography--headline-color-contrast">
                Matière
            </div>
            <div class="mdl-cell mdl-cell--5-col-desktop mdl-cell--3-col-tablet mdl-cell--2-col-phone mdl-typography--font-regular mdl-typography--headline-color-contrast">
                Note (/20)
            </div>
        </div>

        {% for note in notes %}
            <div class="mdl-grid scv-grid-list mdl-color--white">
                <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--3-col-tablet mdl-cell--1-col-phone">
                    <span href="" class="mdl-typography--font-regular mdl-typography--subheading scv-typography-alert">
                        {{ note.matiere }}
                    </span>
                </div>
                <div class="mdl-cell mdl-cell--5-col-desktop mdl-cell--3-col-tablet mdl-cell--2-col-phone mdl-typography--font-regular mdl-typography--body-1-color-contrast">
                    {{ note.note }}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--1-offset-desktop">
                <span class="mdl-typography--font-light mdl-typography--display-1 mdl-typography--text-uppercase scv-typography-primary">Aucune note disponible pour l'instant </span>
            </div>
        </div>
    {% endif %}
{% endblock %}
