{% extends "SVEleveBundle::mainframe.html.twig" %}

{% block title %} {{ parent() }} - Notes {% endblock %}

{% block css %}
    {{ parent() }}
    <style>
        .mark_link{
            color: #FF4081;
        }
    </style>
{% endblock %}

{% block body %}
    {% block title_section %}
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
                <span class="mdl-typography--font-light mdl-typography--display-2">Evaluations</span>
            </div>
        </div>
    {% endblock %}


    {% if notes is defined and notes|length > 0 %}
        <div class="mdl-grid mdl-color--white">
            <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--3-col-tablet mdl-cell--1-col-phone mdl-typography--font-regular mdl-typography--headline-color-contrast">
                Intitulé
            </div>
            <div class="mdl-cell mdl-cell--5-col-desktop mdl-cell--3-col-tablet mdl-cell--2-col-phone mdl-typography--font-regular mdl-typography--headline-color-contrast">
                Détail
            </div>
            <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone mdl-typography--font-regular mdl-typography--headline-color-contrast">
                Date
            </div>
        </div>

        {% for note in notes %}
            <div class="mdl-grid scv-grid-list mdl-color--white">
                <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--3-col-tablet mdl-cell--1-col-phone">
                    <a href="{{ path('sv_eleve_mark_detail', {'slug': enfant.slug, 'idExam': note.devoir.id}) }}" class="mdl-typography--font-regular mdl-typography--subheading scv-typography-alert">
                        {% if note.devoir.type is same as(1) %}
                            Evaluation singulière
                        {% elseif note.devoir.type is same as(2) %}
                            Evaluation séquentielle
                        {% else %}
                            Evaluation Trimestrielle
                        {% endif %}
                    </a>
                </div>
                <div class="mdl-cell mdl-cell--5-col-desktop mdl-cell--3-col-tablet mdl-cell--2-col-phone mdl-typography--font-regular mdl-typography--body-1-color-contrast">
                    {{ note.devoir.detail }}
                </div>
                <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone">
                    {{ note.devoir.dateDevoir | date("F jS Y") }}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--1-offset-desktop">
                <span class="mdl-typography--font-light mdl-typography--display-1 mdl-typography--text-uppercase scv-typography-primary">Aucune note disponible pour l'instant </span>
            </div>
        </div>
    {% endif %}
{% endblock %}
